@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Space+Grotesk:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Space Grotesk", sans-serif; */
}
.App {
  width: 100%;
  display: flex;
}
.sideBarmenu {
  /* margin-right: 2rem; */
  /* border-right: 0.2px solid #cccc; */
  /* border-bottom: 0.2px solid #cccc; */
  height: 100%;
}
.sideBarmenu ul {
  padding: 0;
  text-align: left;
  align-items: center;
}
.sideBarmenu a {
  list-style: none;
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
  padding: 1rem;
}
.sideBarmenu a:first-child {
  margin-top: 0;
}
.container_content {
  width: 89%;
  padding: 2rem;
  background-color: #f2f4f6;
}
.content_table {
  width: 100%;
  padding: 2rem;
  background-color: #ffff;
  margin-bottom: 1rem;
}
.content_table table {
  width: 100%;
  background-color: #f2f4f6;
  table-layout: fixed;
  border-collapse: collapse;
}
.container_content table th {
  font-size: 1.8rem;
  text-transform: uppercase;
  width: calc(100% / 7);
  padding: 1rem;
}
.container_content table th:first-child {
  width: 4%;
}
.container_content table td {
  background-color: #ffff;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #f2f4f6;
}
.container_content .Buttonstatus {
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.container_content .Buttonstatus:disabled {
  pointer-events: none;
  border-radius: 2rem;
}

.container_content .Buttonstatus:hover {
  color: #fff;
  background-color: #1a1a1a;
  transform: translateY(-2px);
  border-radius: 2rem;
}

.container_content .Buttonstatus:active {
  transform: translateY(0);
  border-radius: 2rem;
}
.confirmStatus {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 1rem;
  background-color: antiquewhite;
  width: 30%;
  height: 40%;
}
.confirmStatus > h1 {
  text-align: end;
  margin: 0.5rem;
  cursor: pointer;
}
.statusCheck {
  padding: 1rem;
  display: flex;
  text-transform: uppercase;
  justify-content: space-evenly;
  align-items: center;
}
.checked,
.remote {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
}
.statusinfo {
  padding: 1rem 5rem;
}
.statusinfo > h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 0.5rem;
  font-weight: normal;
}
.Auth-form-container {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
}
.Auth-form {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Auth-form-content {
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.Auth-form-title {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.form-group label {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 1rem;
}
.form-control {
  margin-bottom: 1rem;
  padding: 1rem;
}
