@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Space+Grotesk:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Space Grotesk", sans-serif; */
}
.App {
  width: 100%;
  display: flex;
}
.sideBarmenu {
  margin-right: 2rem;
  border-right: 0.2px solid #cccc;
  /* border-bottom: 0.2px solid #cccc; */
  height: 100%;
}
.sideBarmenu ul {
  padding: 0;
  text-align: left;
  align-items: center;
}
.sideBarmenu a {
  list-style: none;
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
  padding: 1rem;
}
.sideBarmenu a:first-child {
  margin-top: 0;
}

.container_content {
  padding: 2rem 1rem;
  width: 85%;
}
