version: "3.8"
services:
  app:
    container_name: Backup-FE
    image: fe_0810
    restart: always
    build:
      context: .
      target: development
    volumes:
      - ./src:/app/src
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - 3000:3000
