@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Space+Grotesk:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Space Grotesk", sans-serif; */
}
.App {
  width: 100%;
  display: flex;
}
.Login {
  padding: 2rem 3rem;
  border: 0.1rem solid #cccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p {
  font-size: 2rem;
  padding-bottom: 1rem;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: 0.2px solid black;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0.2px solid black;
}
