@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&family=Space+Grotesk:wght@300;400;500&display=swap");
* {
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Space Grotesk", sans-serif; */
}
.App {
  width: 100%;
  display: flex;
}
.Login {
  padding: 2rem 3rem;
  border: 0.1rem solid #cccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p {
  font-size: 2rem;
  /* padding-bottom: 1rem; */
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0.1px solid black;
  font-size: 1.5rem;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0.1px solid black;
  font-size: 1.5rem;
}
button {
  font-size: 1.5rem;
  background: #fff;
  backface-visibility: hidden;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5rem auto;
}

button:not(:disabled):hover {
  transform: scale(1.05);
}

button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

button:focus {
  outline: 0 solid transparent;
}

button:focus:before {
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

button:focus:not(:focus-visible):before {
  border-width: 0;
}

button:not(:disabled):active {
  transform: translateY(0.125rem);
}
